<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Total cost</th>&nbsp;
      <th>Name</th>&nbsp;
      <th>Description</th>&nbsp;
      <th>Actions</th>&nbsp;
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.total_cost %></td>&nbsp;
        <td><%= trip.name %></td>&nbsp;
        <td><%= trip.description %></td>&nbsp;
        <td><%= link_to 'Calculate Dues', "/trip/calculate_dues/#{trip.id}", method: :calculate_dues if current_traveler.trips.include?(trip) %></td>
        <td><%= link_to 'Join Trip', "/trip/add_traveler/#{trip.id}", method: :add_traveler_to_trip unless current_traveler.trips.include?(trip) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>
