<p id="notice"><%= notice %></p>

<h1>Travelers for <%= "#{@trip.name}" %></h1>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travelers.each do |traveler| %>
      <tr>
        <td><%= traveler.user_name %></td>
        <td><%= link_to 'Add To Trip', trip_path(Trip.find(params[:format])) unless @trip.travelers.include?(traveler) && !current_traveler.trips.present? %></td>
        <td><%= link_to 'Show', traveler %></td>
        <td><%= link_to 'Edit', edit_traveler_path(traveler) %></td>
        <td><%= link_to 'Destroy', traveler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign Up', new_traveler_registration_path %>
