<%= form_for(@exspense) do |f| %>
  <% if @exspense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exspense.errors.count, "error") %> prohibited this exspense from being saved:</h2>

      <ul>
      <% @exspense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
    <div class="field">
    <%= f.hidden_field :trip_id, value: params[:format] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
