<p id="notice"><%= notice %></p>

<h1>Listing Exspenses</h1>

<table>
  <thead>
    <tr>
      <th>Trip</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Paid By</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exspenses.each do |exspense| %>
      <tr>
        <td><%= Trip.find(exspense.trip_id).name %></td>
        <td><%= exspense.name %></td>
        <td><%= exspense.cost %></td>
        <td><%= Traveler.find(exspense.traveler_id).user_name %></td>
        <td><%= link_to 'Show', exspense %></td>
        <td><%= link_to 'Edit', edit_exspense_path(exspense) %></td>
        <td><%= link_to 'Destroy', exspense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

